<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707528861411-c8mf4kt1nnhvgcaetochld6f94egm1hc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707528861411-c8mf4kt1nnhvgcaetochld6f94egm1hc</string>
	<key>API_KEY</key>
	<string>AIzaSyBlloSysD_Q9XZnE188NO6eZ9tLgCLws1g</string>
	<key>GCM_SENDER_ID</key>
	<string>707528861411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.betterHealth</string>
	<key>PROJECT_ID</key>
	<string>betterhealth-f9c79</string>
	<key>STORAGE_BUCKET</key>
	<string>betterhealth-f9c79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707528861411:ios:1d8dfa24e2aa960b4207d6</string>
</dict>
</plist>